{{define "title"}}FileDrop (nojs){{end}}
{{define "content"}}
<h1>Upload File</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fuploadInput">File:</label>
            <input type="file" id="fuploadInput" name='fupload'>
        <p class="help-block">Select file to upload.</p>
    </div>
    <input class="btn btn-primary" type='submit' value='Upload!'>
</form>
{{end}}